.site-wrapper {

    .about-content-wrapper {
        width:100%; 
        margin-top: 15%; 
        .about-wrapper {
            display: flex;
            width:70%; 
            margin: 0 auto; 
            img {
                width:25%; 
                height: 25%; 
                border-radius: 60%; 
                box-shadow: 1px 1px 15px 0px rgba(0, 0, 0, 0.2);
            }
            p {
                font-family: "Open Sans Light";
            }
            small {
                font-weight: 300; 
            }
           

           .about-details {
               display:flex; 
               flex-direction: column; 
               align-items: flex-start;
               padding: 0 8%; 

           }
        }

        
       
    }
}