body {
    margin: 0;
}

h1, h2, h3, h4, h5{
    font-family: 'Merriweather', serif; 
    color: #333333; 
}

p, ul, li, span, input, textarea, button, small {
    font-family: 'Open Sans', sans-serif; 
}

ul, li, a{
    color: #333333; 
    text-decoration: none; 
}

small {
    font-style: italic; 
    font-weight: 300; 
}

blockquote {
    font-family:"Merriweather Light", serif;
    font-style: italic;
    color: #d4145a;
    font-size: 1.3em;
}

blockquote:before {
    content: "\201C";
}


blockquote:after {
    content:"\201D"; 
   
}



button {
    background: #d4145a; 
    border-radius: 5px; 
    box-shadow: none; 
    border: none; 
    color: white; 
    padding: 1% 10%; 
}

button:hover {
    background: #690a2c; 
}


