.site-wrapper {
    display: flex; 
    flex-wrap: nowrap; 
    justify-content: center;

    .main-nav {
        display:flex; 
        justify-content: flex-end;
        position:fixed; 
        top: 0; 
        left: 0;
        width:100%; 
        background-color: #E7DEE5;  
        padding: 2% 0; 
        z-index: 1;
        box-shadow: 1px 0px 15px 1px rgba(0, 0, 0, 0.3);

        #initial-logo {
            margin-right:auto;  
            margin-left: 15%;  

            img {
                width:80%; 
            }
        }

        ul {
            display: flex; 
            list-style: none;
            padding-left: 0; 
            align-items: center;
            margin-right: 16%; 

            li {
                display:inline;
                font-weight:600; 
                font-size: 1.1em; 
                font-family: 'Merriweather'; 
                margin-left: 1.5em; 
            }

            a:hover {
                color: #d4145a; 
                font-weight: 600; 
            }
        }
    }

    .content-wrapper {
        display: flex;  
        flex-wrap: wrap; 
        margin-top: 10%; 
        width:80%; 

        .content-box {
            background:rgb(105, 10, 44); 
            flex: 1 1 29%;
            margin-right: 2%; 
            margin-bottom: 2%; 
            height: 250px;
            overflow: hidden;
            cursor: pointer;
            position: relative;
            background-size: cover;

            img {
                display: block;
                width: 100%;
                height: auto;
            }

            .overlay {
                display: flex;
                flex-direction: column; 
                justify-content: center; 
                align-items: center;
                position: absolute; 
                top: 0; 
                background-image: linear-gradient(to bottom right, rgba(75,0,25,0.6), rgba(0,0,0,0.9)) ; /* Black see-through */
                width: 100%;
                height: 100%; 
                transition: .5s ease;
                opacity: 0.4;
                font-size: 22px;
                text-align: center;
                a {
                    color: white; 
                    p {
                        visibility: hidden; 
                    }
                    .title {
                        font-family: 'merriweather';
                        font-weight: 800; 
                        margin-bottom: 1%; 
                        
                    }
                    .company {
                        font-style: italic; 
                        font-size: 16px;
                        margin-bottom: 30px;
                    }
                    .skills {
                        font-size: 14px;
                    }
                }
              
            }
        }

        .blog {
            background-image: url('/img/blog-final-1.png');
        }

        .notifs {
            background-image: url('/img/settings.png')
        }
        .web-design {
            background-image: url('/img/parallelization-diagram.png');
        }
        .tsv {
            background-image: url('/img/tsv.png');
        }
        .dfc {
            background-image: url('/img/dfc.png');
        }
        .shugl {
            background-image: url('/img/shugl.png');
        }
        .buzzcard {
            background-image: url('/img/bpmn.png');
        }

        .content-box:hover {
            box-shadow: 0 1px 10px rgba(0,0,0,0.3), 0 1px 2px rgba(0,0,0,0.6);
            transition: all 0.3s cubic-bezier(.25,.8,.25,1);
            
        }

        .content-box:hover .overlay {
            opacity: 1; 
            p { 
                visibility: visible;
            }
        }

        .content-box:last-of-type {
            max-width: 30%;
        }
    
        .notifications {
            background:linear-gradient(to bottom, rgba(75, 0, 25, 0.6), rgba(0, 0, 0, 0.9)), url('/img/settings.png') center center no-repeat;
            background-size: cover;
        }

        .design {
            background:linear-gradient(to bottom, rgba(75, 0, 25, 0.6), rgba(0, 0, 0, 0.9)), url('/img/parallelization-diagram.png') center center no-repeat;
            background-size: cover;
        }

    }
}