
@media (max-width:1250px) {
    .site-wrapper {
        .main-nav {
            h2 {
                font-size: 1.7em; 
            }
            #subtitle-accent {
                font-size: 1.4em; 
            }
        }
        .content-wrapper {
            margin-top: 12%; 
        }
    }
}

@media (max-width:1100px) {

    .site-wrapper {
        
        .content-wrapper {
            margin-top: 15%; 
            .content-box {
                min-width: 40%; 
                .project-title {
                    font-size: 1em; 
                }
                .project-subtitle {
                    font-size: .8em; 
                    margin-bottom: 2%; 
                }
            }
        }
    }


}


@media (max-width: 650px) {
    .site-wrapper {
      .content-wrapper {
          margin-top: 17%;
      }
    }
}


@media (max-width: 550px) {
    .site-wrapper {
        .main-nav {
            h2 {
                font-size: 1.3em; 
            }
            #subtitle-accent {
                font-size: .9em; 
            }
            ul {
                li {
                    font-size: 1em; 
                }
            }
        }
    }
}

